<div class="main-content">
    <div class="container-fluid content-wrapper">

        <div class="row bg-white justify-content-center ">
            <div class="col">
                <h6>Bienvenue, <%= user.nom %> </h6>
                <p class="text-muted" style="font-size: 12px;">Voici votre tableau de bord personnalisé.</p>
            </div>
            
          </div>
       


        <!-- Contenu des cartes -->
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body d-flex" style="display: flex; gap: 3px;">
                        <p class="card-title">
                            <span
                                class="d-inline-flex align-items-center justify-content-center rounded-circle p-2 mt-2"
                                style="background-color: #6f42c1;">
                                <i class="bi bi-envelope-paper-fill text-white"></i>
                            </span>

                        </p>
                        <p class="mt-2" style="font-size: 12px;">
                            125 formulaires <br>Formulaires soumis récemment.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body d-flex" style="display: flex; gap: 3px;">
                        <p class="card-title">
                            <span class="d-inline-flex align-items-center justify-content-center rounded-circle  mt-2"
                                style="background-color: hsl(120, 70%, 58%);padding: 2px 9px;">
                                <span class="text-white " style="font-size: 19px; font-weight: bold;">P</span>
                            </span>

                        </p>

                        <p class="mt-2" style="font-size: 12px;">
                            40 messages <br>Messages reçus ce mois-ci.
                        </p>

                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body d-flex" style="display: flex; gap: 3px;">
                        <p class="card-title">
                            <span class="d-inline-flex align-items-center justify-content-center rounded-circle  mt-2 p-2"
                                style="background-color: orange;">
                                <span class="text-white " ><i class="bi bi-people-fill "></i></span>
                            </span>
                        </p>
                        <p class="mt-2" style="font-size: 12px;">
                            560 utilisateurs <br>Total des utilisateurs enregistrés.
                        </p>
                    </div>
                </div>
            </div> 
        </div>
        <!-- Deuxième ligne -->
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body d-flex" style="display: flex; gap: 3px;">
                        <p class="card-title">
                            <span
                                class="d-inline-flex align-items-center justify-content-center rounded-circle p-2 mt-2"
                                style="background-color: red;">
                                <i class="bi bi-envelope-paper-fill text-white"></i>
                            </span>

                        </p>
                        <p class="mt-2" style="font-size: 12px;">
                            25 emails <br>Emails à traiter aujourd’hui.
                        </p>

                    </div>
                </div>
            </div>
           

            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body d-flex" style="display: flex; gap: 3px;">
                        <p class="card-title">
                            <span class="d-inline-flex align-items-center justify-content-center rounded-circle  mt-2"
                                style="background-color:#9932CC;padding: 2px 9px;">
                                <span class="text-white " style="font-size: 19px; font-weight: bold;">P</span>
                            </span>

                        </p>

                        <p class="mt-2" style="font-size: 12px;">
                            40 hôtels <br>Hôtels enregistrés dans la base.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body d-flex" style="display: flex; gap: 3px;">
                        <p class="card-title">
                            <span class="d-inline-flex align-items-center justify-content-center rounded-circle  mt-2 p-2"
                                style="background-color: blue;">
                                <span class="text-white " ><i class="bi bi-people-fill "></i></span>
                            </span>
                        </p>
                        <p class="mt-2" style="font-size: 12px;">
                            02 entités <br>Partenaires actifs actuellement.
                        </p>
                    </div>
                </div>
            </div> 
           
        </div>
    </div>
</div>