<div class="sidebar">

    <div>
      <h6 class="text-light mt-3 m-3"><i class="bi bi-flag-fill"></i> RED PRODUCT</h6>
      <p class="text-light m-3" style="font-size: 14px;">Principal</p>
  
      <div class="container">
        <a class="p-2" href="/dashboard"><i class="bi bi-grid-1x2-fill"></i> Dashboard</a>
        <a class="p-2" href="/hotels"> <i class="bi bi-hdd-fill"></i> Liste des hôtels</a>
      </div>
    </div>
  
    <!-- Profil en bas -->
    
    <div class="profile-section shadow">
      <div class="position-relative d-inline-block">
        <hr class="text-white">
        <% if (user && user.image) { %>
          <img src="/uploads/<%= user.image %>" class="profile-pic rounded-circle" alt="Profil" width="40" height="40">
        <% } else { %>
          <img src="https://via.placeholder.com/40" class="profile-pic rounded-circle" alt="Profil" width="40" height="40">
        <% } %>
        <span class="online-status mb-1"></span>
      </div>
      <div class="mt-4">
        <span class="text-white" style="font-size: 11px;"><%= user.nom %></span><br>
        <span class="text-white " style="font-size: 11px;">en ligne</span>
      </div>
    </div>
  
  </div>
  