
<div class="sidebar">

    
        <h6 class="text-light mt-3 m-3"><i class="bi bi-flag-fill"></i> RED PRODUCT</h6>
        <p class="text-light m-3" style="font-size: 14px;">Principal</p>
   
    <div class="container">
        <a class="p-2" href="/dashboard"><i class="bi bi-grid-1x2-fill"></i>  Dashboard</a>
       <a class="p-2" href="/hotels"> <i class="bi bi-hdd-fill"></i> Liste des hôtels</a>
    </div>
</div>